<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glance.guolindev">

    <application>

        <activity
            android:name="com.glance.guolindev.ui.db.DBActivity"
            android:icon="@mipmap/glance_library_ic_launcher"
            android:roundIcon="@mipmap/glance_library_ic_launcher_round"
            android:taskAffinity="com.glance.guolindev.${applicationId}"
            android:theme="@style/GlanceLibraryActivityTheme"
            android:exported="true"/>

        <activity-alias
            android:name="com.glance.guolindev.ui.db.DBActivityLauncher"
            android:icon="@mipmap/glance_library_ic_launcher"
            android:taskAffinity="com.glance.guolindev.${applicationId}"
            android:targetActivity="com.glance.guolindev.ui.db.DBActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.glance.guolindev.ui.table.TableActivity"
            android:theme="@style/GlanceLibraryActivityTheme"
            android:exported="false" />

        <activity android:name="com.glance.guolindev.ui.data.DataActivity"
            android:theme="@style/GlanceLibraryDataActivityTheme"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.glance.guolindev.initializer.GlanceInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>